.PhoneInput {
  font-size: 0.875rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  background-color: #fff;
}

/* Style the input field */
.PhoneInputInput {
  border: none;
  /* background-color: rgb(233, 237, 239); */
  background-color: #fff;
}

.PhoneInputInput:focus {
  outline: none;
}
