.btnFacebook {
  width: 100%;
  height: 45px;
  border-radius: 4px !important;
  background: #3b5998;
  color: white;
  border: 0px transparent;
  text-align: center;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
}

.btnGoogle {
  width: 100%;
  height: 45px;
  border-radius: 4px !important;
  background: #db3236 !important;
  color: white !important;
  border: 0px transparent;
  text-align: center;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
}
.btnFacebook:hover {
  background: #3b5998;
  opacity: 0.6;
}
.btnGoogle:hover {
  background: #db3236;
  opacity: 0.6;
}

.btnGoogle div {
  display: none;
}

.btnGoogle span {
  width: 100%;
}

@media only screen and (max-width: 399px) {
  .btnFacebook,
  .btnGoogle {
    width: 100%;
  }
}

#tb {
  cursor: pointer;
}

#tb:hover {
  background-color: #dbe5f2;
}

#add {
  background-color: #dbe5f2;
}

#addImage {
  height: 300px;
  width: 300px;
  box-shadow: 10px 10px 5px 5px #ccc;
  border-radius: 500px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.drawer-background {
  background-image: url("../../img/disc.jpg");
  /* background-size: 100%;
  background-repeat: no-repeat; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;

  /* background-position: center center;   */
}

.padd-4 {
  padding: 1.5rem;
}

.country-list {
  max-height: 90px !important;
}

.marTop-4 {
  margin-top: 1.5rem;
}

.esc-btn {
  background-color: white;
  font-size: 12px;
  border: none;
  color: #999999;
  padding: 5px;
  margin-top: 10px;
  height: 40px;
  /* border-top-left-radius: 50%;
  border-bottom-left-radius: 50%; */

  /* border: none;
  color: #999999;
  padding: 5px;
  text-align: center;


  text-decoration: none;
  display: inline-block;
  

  cursor: pointer;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px; */

  /* margin: 4px 2px; */
  /* height: 50px;
  width: 15%; */
}

.MuiDrawer-root {
  top: 50px !important;
}

@media (max-width: 992px) {
  .MuiDrawer-root {
    top: 60px !important;
  }

  .esc-btn {
    font-size: 10px;
    padding: 3px;
  }
}

@media (max-width: 576px) {
  .padd-4 {
    padding: 0;
  }

  .marTop-4 {
    margin-top: 0.5rem;
  }

  .plm-0 {
    margin-left: 0;
    padding-left: 0;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.MuiBottomNavigationAction-label {
  opacity: 1 !important;
}
