#numberofitems {
  width: 7px;
  font-size: 12px;
  height: 8px;
}

.borderRound {
  border: 1px #d32f2f solid !important;
  width: 100%;
  margin-top: 5px;
}

.borderRound .Mui-checked {
  color: #343a40 !important;
}

.borderRound:hover {
  background-color: #ff9191 !important;
}

.css-ahj2mt-MuiTypography-root {
  font-size: 10px;
}
